
.container {
  background-color: rgb(228, 235, 238);
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}

input.search-bar {
  height: 48px;
  display: inline-block;
  border-radius: 10px;
  padding: 8px;
  margin-left: 8px;
}

.file-upload-label {
  background-color: rgb(244, 246, 248);
  border-radius: 10px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload-label:hover {
  background-color: rgb(159, 203, 222);
}

.file-upload-input {
  display: none;
}

.submit-button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgb(244, 246, 248);
}
.submit-button:hover {
  background-color: rgb(159, 203, 222);
}

.dropdown-container {
  position: absolute;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-item:hover {
  background-color: hsl(225, 100%, 88%);
}
