.rules-container {
  min-height: 100vh;
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  /* margin-top: 100px; */
  border-radius: 10px;
}

.rules-title {
  padding-top: 20px;
  padding-left: 10px;
  color: #0e6fde;
}

.rules-labels-container {
  margin: 30px;
}

.rules {
  padding: 10px;
  font-size: 100;
}

.rules:hover {
  background-color: #f7f9fc;
  cursor: pointer;
  border-left: 3px solid #0e6fde;
}

.rules strong {
  margin-right: 10px;
}

.accordion-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  padding-top: 15px;
}

.errorMessage {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #cde6fe;
  border-radius: 5px;
  padding: 10px;
}

.errorLink {
  text-decoration: none;
}

.back-button {
  margin: 20px 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(244, 246, 248);
}

.back-button:hover {
  background-color: rgb(159, 203, 222);
}